@model IEnumerable<DataLayer.Models.Person>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <img src="~/Images/happiness3.jpg" class="img-responsive" />
    </div>
</div>
<div>
    <p>
        <br />
    </p>
</div>
<div class="row">
    <div class="col-md-3">
        <a href="http://localhost:52243/ProfilePage/User/1">
            <img border="0" alt="Test" src="@ViewBag.ExamplePerson">
        </a>
    </div>

    <div class="col-md-3">
        <a href="http://localhost:52243/ProfilePage/User/2">
            <img border="0" alt="Test" src="@ViewBag.ExamplePersonTwo">
        </a>

    </div>

    <div class="col-md-3">
        <a href="http://localhost:52243/ProfilePage/User/3">
            <img border="0" alt="Test" src="@ViewBag.ExamplePersonThree">
        </a>
    </div>

    <div class="col-md-3">
        <a href="http://localhost:52243/ProfilePage/User/4">
            <img border="0" alt="Test" src="@ViewBag.ExamplePersonFour">
        </a>

    </div>
</div>

